<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
  
</head>
<body>
  <nav>
    <span class="material-symbols-outlined">
      tv
      </span>
      <hr>
      <a href="/">
      <h1>Queue</h1>
      </a>
      <hr>

    <% if (user) { %>
      <a 
      href="/profiles" <%- title === 'Community' ? 'class="active"' : '' %>
    >
      COMMUNITY
    </a>
    <br>
      <form action="/shows/search" method="POST">
        <input type="text" name="search" placeholder="Search for Show" autocomplete="off" required>
        <button class="button-17" type="submit">Search</button>
      </form>
      <a href="/auth/logout">LOGOUT</a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button class="button-17" type="submit" class="siwg">
          Login
        </button>
      </a>
    <% } %>
  </nav>
