<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
  
</head>
<body>
  <nav>
    <span class="material-symbols-outlined">
      tv
      </span>
      

    <% if (user) { %>
      <a 
      href="/users" <%- title === 'Community' ? 'class="active"' : '' %>
    >
      COMMUNITY
    </a>
    <a 
      href="/shows/new" <%- title === 'Add Show' ? 'class="active"' : '' %>
    >
      ADD SHOW
    </a>
    <a 
      href="/shows" <%- title === 'All Show' ? 'class="active"' : '' %>
    >
      ALL SHOWS
    </a>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
