

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.profile-card {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10%;
  height: 35em;
  width: 25em;
  margin: 5em;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  background-color: #1212123d;
  box-shadow: 2px 5px 10px #12121240, -2px -5px 55px rgba(164, 164, 164, 0.047);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}


.profile-card:hover {
  background-color: #0e2b3673;
  top: -10px;
}

.prof-pic {
  margin: -20px 0 10px 0;
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
}


.card-title {
  margin: 30px 0 0 0;
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.891);
  text-decoration: none;
}


.card {
  margin: 5em;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}