/* .image-avi {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-top: 3vh;
  height: 17vh;
  align-items: center;
}



.profile-info {
  display: flex;
  height: 30vh;
}

.image-box {
  padding: 2px;
  border: 1px solid black;
}

.profile-table {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  position: relative;
}



.profile-text {
  display: flex;
  position: relative;
  height: 20vh;
  flex-direction: column;
  max-width: 30vw;
}

.profile-name {
  font-size: 1.8em;
  font-weight: 600;
}

.name-value {
  font-size: 1.8em;
} */


.image-avi {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-top: 3vh;
  max-height: 10vh;
  align-items: center;
}

.image-box {
  padding: 2px;
  border: 1px solid black;
}

.profile-table {
  border: 1px solid black;
  padding:5px;
  min-width: 32vw;
}

.profile-name {
  font-size: 1.5em;
  font-weight: 600;
}

.name-value {
  font-size: 1.5em;
}



.edit-profile {
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: rgb(169, 2, 2);
  margin-top: 1.5vh;
  margin-bottom: 10vh;
  border: 1px solid rgb(169, 2, 2);
  outline: medium none;
  padding: 10px;
  text-align: center;
  background-color: rgba(224, 72, 72, 0.121);
  min-width: 30vw;

}

.edit-profile:hover {
  color: rgb(169, 2, 2);
  background-color: rgba(169, 2, 2, 0.121)
}

.width-all {
  width: 100vw;
  margin-top: 2.5vh;
  margin-bottom: 1.5vh;
  position: relative;
  display: flex;
}

.card-body {
  text-align: center;
}

.bg-white {
  background-color: white;
  padding: 40px;

}

.poster {
  width: 100%;
  height: 82%;
  margin-bottom: 3vh;
  border: 1px solid white;
}

.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 4.5rem;
  justify-content: center;
}

.wrapper {
  border: 10px solid rgb(11, 18, 11);
  width: 28vw;
  background-color: black;
  color: white;
}



.deets-btn {
  font-size: 1.1em;
  color: white;
  font-weight: 400;
  margin-bottom: 4vh;
}


.show-title {
  font-size: 1.7em;
  font-weight: 500;
}

