<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Queue</h1>

  <% if (user) { %>
  <form class="search-bar" action="/shows/search" method="POST">
    <input type="text" class="search-input" name="search" placeholder="Search for Show" autocomplete="off" required>
    <button class="button-17" type="submit">Search</button>
  </form>
  <% } %>

  <br>
  <br>
  <hr>
  <h3>Powered by:</h3>
  <img src="/images/moviedb/movie-db.svg" alt="">

</main>

<%- include('./partials/footer') %>
