<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Queue</h1>
</main>

<%- include('./partials/footer') %>
