@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: white;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
}

body > nav {
  grid-area: nav;
  background-color: rgb(207, 57, 57);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  border-bottom: 2px #424748 solid;
  color: white;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}


nav > a:hover {
  color: white;
  background-color: rgb(97, 140, 240);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: 'Raleway', Arial, sans-serif;
  margin-top: 4vh;
  font-size: 3.6rem;
}

.material-symbols-outlined {
  text-align: left;
  display: flex;
}

hr {
  color: rgb(207, 57, 57);
  background-color: rgb(207, 57, 57);
}