@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

.review-form {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}

select {
  width: 100%;
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: center;
}

textarea {
  width: 100%;
  margin-bottom: 2vh;
}


.button-32 {
  background-color: rgb(207, 57, 57);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-32:hover,
.button-32:focus {
  opacity: .75;
}


.show-name {
  text-align: left;
  position: relative;
  display: flex;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  margin-left: 15vw;
  width: 35vw;
}


.poster {
  width: 100%;
  height: 82%;
  margin-bottom: 3vh;
  border: 1px solid white;
  margin-top: 2vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  margin-top: -3vh;

}

.wrapper {
  width: 28vw;
  color: white;
}


.accordion {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.accordion-header {
  color: white;
  font-size: 2em;
}

.collector img {
  margin-top: 2vh;
  border: 1px white solid;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collector {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 2vw;
  width: 10vw;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 40vw;
}

.img-fluid {
  max-height: 5vh;
  margin-top: 3vh;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1vh;
  max-width: none;
  min-height: 44px;
  min-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

.btn-danger {
  width: 100vw;
}

.delete-btn {
  width: 100vw;
}

.mt-4 {
  font-size: 1.5em;
}

.second-section {
  margin-top: -3.3vh;
  background-color: rgb(207, 57, 57);
  width: 100%;
}


.text-light {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 6vh;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  width: 35vw;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.all-collectors {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 5px;
}

.white-text {
  color: white;
}