<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/shows/new.css">
<%- include("../partials/nav") %>  



<main>
  <h1><%= title %></h1>
  <div class="wrapper">
    <form id="new-form" action="/shows" method="POST">
      <label for="Title">Title</label>
    </form>
  </div>





</main>

<%- include("../partials/footer") %>  